.pad, .pad2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 15vw;
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 10%;
    transition: all 0.1s;
    animation: tap 0.3s linear;
    
}

.pad2{
    animation: tap2 0.3s linear; 
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: 0.5;
}

h3{
    color: yellow;
}


@keyframes tap {
    25% {
        border: 2px solid yellow;
        font-size: 200%;
    }
    75% {
        border: 2px solid yellow;
        font-size: 200%;
    }
        
    100% {}
}

@keyframes tap2 {
    25% {
        border: 2px solid yellow;
        font-size: 200%;
    }
    75% {
        border: 2px solid yellow;
        font-size: 200%;
    }
    100% {}
}